# local scripts for generating AI reports
_ml_helper/

# local TODO files
_todo/

# local backup files
.backup/

# local workspace files
.workspace/

# not completed files or directories
blueprints/
docs/
rul-model-factory/artifacts/runs/rul_bayesian_20260421T1251Z_cpu_hpc/data/



# dbt example
.dbt-example/












#===================================
# Marimo
#===================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc

# Marimo specific
__marimo__

# Generated site content
_site/

# Editors
*~

# Temporary build files
tmp/
example.db
example.db.wal
log_data_filtered/*
log_data_filtered.*


















artifacts/
build/
dist/
*.egg-info
__pycache__/
*.py[oc]
# Python-generated files
.venv
# Virtual environments
wheels/

#===================================
# Terraform
#===================================
# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Optional: ignore graph output files generated by `terraform graph`
# *.dot

# Optional: ignore plan files saved before destroying Terraform configuration
# Uncomment the line below if you want to ignore planout files.
# planout

#===================================
# Docker
#===================================
# Docker project generated files to ignore
#  if you want to ignore files created by your editor/tools,
#  please consider a global .gitignore https://help.github.com/articles/ignoring-files
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile

#===================================
# dbt
#===================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env*/
dbt_env/
build/
!tests/functional/build
!core/dbt/docs/build
develop-eggs/
dist/
dist-*/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.dmypy.json
logs/
.user.yml
profiles.yml

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.env
nosetests.xml
coverage.xml
*,cover
.hypothesis/
test.env
makefile.test.env
*.pytest_cache/

# Unit test artifacts
index.html


# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# Emacs
*~

# Sublime Text
*.sublime-*

# Vim
*.sw*



# Vim
*.sw*

# pycharm
.idea/
venv/
.venv*/

# AWS credentials
.aws/

# MacOS
.DS_Store

# vscode
.vscode/
*.code-workspace

# poetry
poetry.lock

# asdf
.tool-versions

#===================================
# redpanda
#===================================
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.app
/*build*
!.buildkite
/dbuild
bin
_e2e_artifacts/
_e2e_unstable_artifacts/
_helm_e2e_artifacts/
/src/go/k8s/testbin/*
/src/go/k8s/cm-verifier
/src/go/k8s/*.tar.gz
/src/go/k8s/*-exit-code
/src/go/k8s/kubeconfig

# Compiled WebAssembly artifacts
*.wasm

# Test binary, build with `go test -c`
*.test

# bazel
/bazel-*
user.bazelrc
/external

# Vagrant
.vagrant/

.gdb_history
*_generated.h
build_debug/
build_release/

.DS_Store

# clang-tidy
compile_commands.json

# vim
.*.sw?

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeUserPresets.json

src/demo_apps/demo_client
src/demo_apps/demo_server

# tests
src/integration_tests/*_test
src/test/*_unit_test

# docs
Doxyfile

# python (build system runner)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
/build/
/depot_tools
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
docs.md
src/consistency-testing/gobekli/build

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
genhtml/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# default data dir for dev-cluster.py script
/tools/data
# If you run dev-cluster.py from the repo root
/data

# mypy
.mypy_cache/
.ycm_extra_conf.py

.vscode/
.cooking_memory
.idea
tags
.ccls-cache
.clangd
*.sublime-*

# Configuration
*.bk

# metrics API
src/go/metrics/env.yaml

# Infra
infra/modules/**/ssh_config*
*tfstate*
.vtools.db

# VSCode Java
.project

# Node js dev dependencies
src/js/node_modules
# ts generated for coprocessor serializables
src/js/modules/domain/generatedRpc/*.ts
# rpc generated for coprocessor
src/js/modules/rpc/serverAndClients/*.ts
# vectorized public dependency
src/js/public

# rpk build dirs
src/go/rpk/linux*
src/go/rpk/darwin*

#intelij
*.iml
# Node dependecies ts-generated
tools/ts-generator/node_modules
# ducktape
results
.ducktape
tests/docker/build
vbuild/
tests/java/iceberg-rest-catalog/.gradle

/.vtools.yml
/vtools
/benthos
/connect
/Taskfile.yml
/.dockerignore
/.task/
/usertasks.yml

# helm chart dependencies
*.tgz

# VSCode java settings
.classpath
.factorypath
.settings/

#asdf tool version file
.tool-versions

# pre-commit local config
.pre-commit-local.yaml

# Ruff (python formatter)
.ruff_cache

# Ctest
/Testing

# produced in CI for bazel
# needs to be ignored to not leave a dirty git state
bazel_cc_flags.json

# claude local settings
**/.claude/settings.local.json

# perf
perf.data*

 # rpk binary
src/go/rpk/cmd/rpk/rpk

















#==========================================================================================================================
# include successful artifact run
# but exclude heavy .parquet files (except test_DS02.parquet that is used in Streamlit dasboard and in streaming_pipeline)
#==========================================================================================================================

!rul-model-factory/artifacts/
!rul-model-factory/artifacts/runs/
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/logs/

# exclude heavy .parquet files (except test_DS02.parquet that is used in Streamlit dasboard and in streaming_pipeline)
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.results.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test.lmdb/data.mdb
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test.lmdb/lock.mdb
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS01.parquet
# this file (test_DS02.parquet) is used in Streamlit dasboard and in streaming_pipeline
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS02.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS03.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS04.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS05.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS06.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS07.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS08.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train.lmdb/data.mdb
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train.lmdb/lock.mdb
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS01.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS02.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS03.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS04.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS05.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS06.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS07.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS08.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val.lmdb/data.mdb
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val.lmdb/lock.mdb
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS01.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS02.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS03.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS04.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS05.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS06.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS07.parquet
rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/data/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS08.parquet

# include logs/ folder
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/logs/TRAINING_SUCCESS.log
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/logs/rul_bayesian_20260420T0650Z_cpu_hpc.events.out.tfevents.1776623037.6de8928385e1.1.0
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/logs/rul_bayesian_20260420T0650Z_cpu_hpc.events.out.tfevents.1776633326.6de8928385e1.1.1

# include metadata folder
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/metadata/rul_bayesian_20260420T0650Z_cpu_hpc.hparams.yaml

# include prepared model
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/model/rul_bayesian_20260420T0650Z_cpu_hpc.epoch=149-step=21000.safetensors
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/model/rul_bayesian_20260420T0650Z_cpu_hpc.pretrained_10.pt

# include security folder for demonstration
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/provenance.json
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/provenance.json.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/provenance.json.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.epoch=149-step=21000.safetensors.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.epoch=149-step=21000.safetensors.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.pretrained_10.pt.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.pretrained_10.pt.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.results.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.results.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS01.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS01.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS02.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS02.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS03.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS03.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS04.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS04.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS05.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS05.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS06.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS06.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS07.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS07.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS08.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.test_DS08.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS01.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS01.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS02.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS02.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS03.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS03.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS04.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS04.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS05.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS05.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS06.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS06.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS07.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS07.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS08.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.train_DS08.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS01.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS01.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS02.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS02.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS03.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS03.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS04.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS04.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS05.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS05.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS06.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS06.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS07.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS07.parquet.sig
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS08.parquet.cert
!rul-model-factory/artifacts/runs/rul_bayesian_20260420T0650Z_cpu_hpc/security/rul_bayesian_20260420T0650Z_cpu_hpc.val_DS08.parquet.sig


!rul-model-factory/artifacts/runs/rul_bayesian_20260421T1251Z_cpu_hpc/logs/
!rul-model-factory/artifacts/runs/rul_bayesian_20260421T1251Z_cpu_hpc/logs/TRAINING_SUCCESS.log

#==========================================================================================================================
# end of successful artifact run section
#==========================================================================================================================

#==========================================================================================================================
# vendor
#==========================================================================================================================
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/poetry.lock
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/DEEP_ENSEMBLE
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/FLIPOUT
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/LRT
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/MC_DROPOUT
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/RADIAL
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/DEEP_ENSEMBLE/000.json
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/FLIPOUT/000.json
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/LRT/000.json
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/MC_DROPOUT/000.json
!rul-model-factory/src/rul_model_factory/vendor/bayesrul/results/ncmapss/best_models/RADIAL/000.json

#==========================================================================================================================
# end of vendor section
#==========================================================================================================================